.header {
	background-color: #2867b2;
	display: flex;
	justify-content: space-between;
}
.logo{
	padding: 1rem;
}
.menu{
	padding: 1rem;
	margin-right: 0rem;
}

.container{
	max-width: 100% !important;
	height: 100% !important;
	margin: auto;
	font-family: sans-serif;
	letter-spacing: 0.5px; 
}

img{
	max-width: 120%;
	border-radius: 50%;
}
.msg-header{
	border: 1px solid #ccc;
	width: 100%;
	height: 10%;
	border-bottom: none;
	display: inline-block;
	background-color: #2867b2;
}
.msg-header-img{
	border-radius: 50%;
	width: 40px;
	margin-left: 5%;
	margin-top: 12px;
	float: left;
}
.back{
	float: left;
	margin-top: 10px;
	margin-left: 1px;
}
.back .fa{
	color: #fff;
	padding: 5px;
}

.info{
	width: 240px;
	float: left;
	margin-top: 10px;
}
.info h4{
	font-size: 40px;
	margin-left: 20px;
	color: #fff; 
}
.info h6{
	font-size: 15px;
	margin-left: 10px;
	line-height: 2px;
	color: #fff;
}
.header-icons{
	width: 120px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.header-icons .fa{
	color: #fff;
	margin: 10px;
}

.chat-box{
	padding: 0 0 50px 0;
}

.msg-inbox{
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 30px;
}
.chats{
	padding: 30px 15px 0 25px;
	height: 1000px;
}
.msg-page{
	height: 1000px;
	overflow-y: auto;
}
.received-chats-img{
	display: inline-block;
	width: 20px;
	float: left;
}
.received-msg{
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received-msg-inbox{
	width: 57%;
}
.received-msg-inbox p{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: #004670;
	font-size: 2rem;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
.time{
	color: #004670;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.ongoing-chats{
	overflow: hidden;
	margin: 26px 20px;
}
.ongoing-chats-msg p{
	background: #efefef none repeat scroll 0 0;
	color: #004670;
	border-radius: 10px;
	font-size: 2rem;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%; 
}
.ongoing-chats-msg{
	float: left;
	width: 46%;
	margin-left: 45%;	
}
.ongoing-chats-img{
	display: inline-block;
	width: 20px;
	float: right;

}
.msg-bottom{
	background-color: #2867b2;
	position: relative;
	height: 10%;
	border-bottom: 1px solid black;
}

.input-group{
	float: right;
	margin-top: 13px;
	margin-right: 20px;
	outline: none !important;
	border-radius: 20px;
	width: 85% !important;
	background-color: #fff;
}

.form-control{
	/*border: none !important;*/
	border-radius: 20px !important;
	font-size: 2rem;
}

.input-group-text{
	background: transparent !important;
	border: none !important;
}

.input-group .fa{
	color: #2867b2;
	float: right;
}

.bottom-icons{
	float: left;
	margin-top: 17px;
	width: 10% !important;
	margin-left: 22px;
}

.bottom-icons .fa{
	color: #2867b2;
	font-size: 40px;
	padding: 5px;
}
.form-control:focus{
	border-color: none !important;
	box-shadow: none !important;
	border-radius: 20px;
	font-size: 2rem;
}

