.header {
	background-color: #475053;
	display: flex;
	justify-content: space-between;
}

.logo {
	padding: 1rem;
}

.menu {
	padding: 1rem;
}

.materia {
	font-size: 4rem;
	color: #2867b2;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}

.home_button {
	height: 3rem;
	width: 3rem;
	margin-top: 0.5rem;
	margin-left: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	justify-content: center;
	text-align: center;
	background-color: #ffffff;
}

.prof {
	background-color: #2867b2;
	margin: 0.5rem;
	border-radius: 1rem;
	height: 10rem;
	display: flex;
	flex-direction: row;
	text-align:center ;
}

.prof_img{
	margin-top: 1rem;
	margin-left: 1rem;
	border-radius: 4rem;
	height:8rem ;
}
.prof_test{
	margin-top: 3.5rem;
	margin-left: 1rem;
	
}

.turma {
	background-color: #2867b2;
	margin: 0.5rem;
	border-radius: 1rem;
	height: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.forum {
	background-color: #2867b2;
	margin: 0.5rem;
	border-radius: 1rem;
	height: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

