.header {
	background-color: #475053;
	display: flex;
	justify-content: space-between;
}

.menu {
	padding: 1rem;
}

.materia {
	font-size: 4.4rem;
	color: #ffffff;
	margin-top: 1rem;
	margin-bottom: 0.1rem;
}

.home_button {
	height: 11%;
	width: 11%;
	margin-left: 0.6rem;
	margin-top: 0.6rem;
}

.back_button {
	height: 11%;
	width: 11%;
	margin-left: 0.6rem;
	margin-top: 1.2rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #ffffff;
}

.item {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	padding: 1rem;
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
	border-radius: 1rem;
	background-color: #2867b2;
	color: #ffffff;
}

.itemtext {
	font-size: 4rem;
	text-align: center;
	margin-left: 6rem;
}

.itemtextseta {
	font-size: 4rem;
	text-align: center;
	font-weight: bold;
	color: black;
}

.textoaqui {
	display: flex;
	height: 5rem;
	width: 100%;
}

.caixa {
	font-size: 2rem;
	width: 90%;
	background-color: #f0f0f0;
	text-indent: 0.5rem;
}

.search {
	margin-top: 1rem;
	display: flex;
	justify-content: center;

}
.botao {
	margin-left: 3rem;
}

.menu{
	padding: 1rem;
	margin-right: 0rem;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #F1F1F1;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10rem;
}

.sidenav a {
	text-decoration: none;
	font-size: 4rem;
	color: #white;
	display: flex;
	flex-direction: row-reverse;
	transition: 0s;
	margin: 2rem;
}

.sidenav a:hover {
	color: #111;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	font-size: 5rem;
	right: 1rem;
	padding: 1rem;
}
