.header {
	background-color: #475053;
	display: flex;
	justify-content: space-between;
}
.logo {
	padding: 1rem;
}
.menu {
	padding: 1rem;
	margin-right: 0rem;
	height: 10rem;
	width: 10rem;
}

.materia {
	font-size: 10rem;
	color: #2e94b9;
	margin-top: 0.2rem;
}

.home_button {
	height: 8rem;
	width: 8rem;
	margin-top: 1.5rem;
	margin-left: 1rem;
}