.header {
	background-color: #475053;
	display: flex;
	justify-content: space-between;
}
.logo{
	padding: 1rem;
}
.menu{
	padding: 1rem;
	margin-right: 0rem;
}
.diva {
	display: flex;
}

.Paizao {
	
	height: 2rem;
	width: 100%;
	margin-top: 1rem;
	margin-left: 5%;
	margin-right: 5%;
    background-color: #f8f8f8;

}

.divb {
    color: #a0a0a0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textoaqui {
	display: flex;
	height: 2rem;
	width: 100%;
	height: 60px;
}

.caixa {
	width: 90%;
}

.body {
	position: fixed;
	width: 100%;
}